body{
	font-family: 'Muli', serif;
}

.second{
	margin-bottom:10px;
}

.third{
	margin-top:0px;
	margin-bottom:8px;
}

h1{
	margin-bottom:15px;
}
.date{
	font-size-adjust: 70%;
}

button{
	min-width: 10%;
	font-size-adjust: 70%;
	margin-top:10px;
	background-color:lightblue;
	align-self: right;
}

select{
	border:none;
	width:100%;
	text-align-last:center;
}

input{
	text-align-last:center;
	width:100%;
}

.col-md-1{
	text-align:left;
	padding-left:0px;
}

.title{
	font-size:10px;
	font-weight:bold;
}
