body{
	font-family: 'Muli', serif;
}

.title{min-height: 16px;
	font-size:70%;
	color:black;
	align-self: center;
	align-content: center;
	text-align: center;
}

h1{
	margin-bottom:20px;
}
.date {font-size-adjust: 70%;}
.second{
	margin-top:10px;
}

button{min-width: 10%;
	font-size-adjust: 70%;
	margin-top:10px;
	background-color:lightblue;
	align-self: right;
}

select{
	border:none;
	width:100%;
	text-align-last:center;
}

input{
		text-align-last:center;

}.text-right{
	text-align-last:right;
}
